
.login-box {
    width: 38rem;        
    height: 26.8125rem;  
    background-color: #EDF2FC;
    border-radius: 2rem;
    margin: 0 1rem 30rem 1rem;
}
.btn-blue {
    background-color: #007bff;
    color: #fff;
}
.h-3rem{
    height: 3rem;
    letter-spacing: 0.75rem;
}
