.avatar-container{
    
}

.avatar{
    width: 440px;
    height: 440px;
    background-color: var( --color-primary-500);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: inset 0 0 8px,0 0 5px;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}



@media (max-width:1100px) and  (min-width:990px) {
.avatar{
    width: 400px;
    height: 400px;
    background-color: var( --color-primary-500);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: inset 0 0 8px,0 0 5px;
}
}


 /* Remove the default icon */
    .vjs-big-play-button .vjs-icon-placeholder:before {
      content: none;

    }

    /* Add your custom image */
    .vjs-big-play-button {
      background: url("../icons/play-cricle.png") no-repeat center center !important;
      background-size: contain !important;
      width: 80px;   /* adjust size */
      height:80px;  /* adjust size */
      border: none !important;
      border-radius: 50%; /* optional: make it circular */
      
    }

    /* Optional: hover effect */
    .vjs-big-play-button:hover {
      opacity: 0.8;
      cursor: pointer;
    }


    .vjs-icon-placeholder{
        display: none;
        
    }

    .video-js-con{
        border-radius: 42px !important;
        overflow: hidden !important;
        corner-shape:squircle;
    }

    .video-js{
        width: 100%;
    }

