.avatar-container{
    
}

.avatar{
    width: 440px;
    height: 440px;
    background-color: var( --color-primary-500);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: inset 0 0 8px,0 0 5px;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}



@media (max-width:1100px) and  (min-width:990px) {
.avatar{
    width: 400px;
    height: 400px;
    background-color: var( --color-primary-500);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: inset 0 0 8px,0 0 5px;
}
}

