.icon-box {
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #eef5ff;
    color: #3574ff;
    border-radius: 6px;
    margin-left: 8px;
    font-size: 18px;
}
.video-box img {
    border-radius: 20px;
}
.video-play {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:70px;
    opacity:0.85;
    cursor:pointer;
}
.badge{
    background-color: #EDF2FC;
}
.border-b {
    position: relative;
}

.border-b::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    width: 5rem; 
    border-radius: 20px;
    border-bottom: 3px solid #007bff;
}
.lesson-row { 
    gap: 10px;
}

.lesson-title {
    word-wrap: break-word;
    line-height: 1.7;
}

.icon-box img {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.right-content img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    cursor: pointer;
}


@media (max-width: 768px) {

    .lesson-row {
        flex-direction: column; 
        align-items: flex-start !important;
    }

    .right-content {
        width: 90%;
        justify-content: flex-end !important; 
        margin-right: 38px; 
        margin-top: 10px;
    }

    .right-content img,
    .right-content span {
        margin-left: 5px;
    }
}


.card-custom .badge{
    border-radius: 16px !important;
    width: 90% !important;
}







 /* Remove the default icon */
    .vjs-big-play-button .vjs-icon-placeholder:before {
      content: none;

    }

    /* Add your custom image */
    .vjs-big-play-button {
      background: url("../icons/play-cricle.png") no-repeat center center !important;
      background-size: contain !important;
      width: 80px;   /* adjust size */
      height:80px;  /* adjust size */
      border: none !important;
      border-radius: 50%; /* optional: make it circular */
      
    }

    /* Optional: hover effect */
    .vjs-big-play-button:hover {
      opacity: 0.8;
      cursor: pointer;
    }


    .vjs-icon-placeholder{
        display: none;
        
    }

    .video-js-con{
        border-radius: 42px !important;
        overflow: hidden !important;
        corner-shape:squircle;
    }

    .video-js{
        width: 100%;
    }

