.scroll-box {
    max-height: 150px; /* ارتفاع ثابت برای بخش باز شده */
    overflow-y: auto;  /* اسکرول عمودی */
}

/* جعبه فیلتر */
.filter-box {
    background: #fdfdfd;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* آکاردئون */
.accordion-button {
    background-color: #f0f4f8;
    color: #333;
    font-weight: 600;
}

.accordion-button:hover{
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #007bff;
    color: #fff;
}
.accordion-item {
    border: none;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
}

/* بخش داخلی با اسکرول */
.scroll-box {
    max-height: 150px;
    overflow-y: auto;
    padding-right: 5px;
}
.scroll-box::-webkit-scrollbar {
    width: 6px;
}
.scroll-box::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-track {
    background: #eaeaea;
}

/* چک‌باکس‌ها */
.form-check-label {
    cursor: pointer;
    transition: color 0.2s ease;
}
.form-check-input:checked + .form-check-label {
    color: #007bff;
    font-weight: 500;
}






/*  */

.card-con{
    position: absolute !important;
    bottom: 0% !important;
    left: 0 !important;
    width: 100% !important;
    border-radius: 0px !important;
}

.card-con:hover{backdrop-filter: blur(4px);}